extends ../layouts/default

block variables
  - var title = 'О проекте'
  - var includeHomeLink = true

block content
  h1.about__title О нас
  p.about__content
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi culpa dicta enim autem assumenda dolore doloremque debitis, nobis eligendi aliquid officia exercitationem, quos omnis nihil ea ex. Perspiciatis, nihil illum!